#felso, #also
{
    width: 100%;
    background: black;
    height: 150px;
    z-index: 12;
}

#kozepso
{
    height: 500px;
    margin: 0px auto;
    display: block;
    width: 618px;
    overflow-y: hidden;
}

.slot
{
    height: 480px;
    border: 1px solid black;
    width: 200px;
    display: inline-block;
    overflow: hidden;
}

.kiskep
{
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    z-index: 1;
    transition: 0.2s;
    transition-timing-function: linear;
}

#forgatogomb
{
    margin: 0 auto;
    display: block;
    font-size: 3em;
    border-radius: 5px;
}

#vonal
{
    position: absolute;
    top: 400px;
    z-index: 100;
    width: 100%;
    background: red;
    height: 2px;
    opacity: 0.2;
}